[*.cs]

# IDE0022: Use block body for methods
csharp_style_expression_bodied_methods = false:silent

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = never:silent
